
/* This section is resetting browser defaults */
* {
    box-sizing: border-box;
}
html, boy, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
    margin-bottom: 5em;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
/* ---------------------------------------- */
/* ---------- Start styling here ---------- */
/* ---------------------------------------- */

html, body
{
    background-color: #222;
    color: #eee;
    letter-spacing: 0.5px;
    height: 100vh;
    margin: 0;
}
#__nuxt {
    padding-bottom: 3em;
}
a:hover, a:focus,
{
    color: darkorange;
}
/* Froms and inputs */
form {
    font-family: "Muli", "Lato", sans-serif;
}
textarea, input, button, select
{
    outline: none;
    background-color: #eee;
}
textarea:focus, input:focus, select:focus
{
    outline: thin solid darkorange;
}
.form > input:focus, .form > textarea:focus, select:focus, #tabinput:focus {
    outline: 1px solid darkorange;
}

h1 {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    display: inline-block;
    font: normal bold 2em/150% "Muli", sans-serif;
    letter-spacing: 1px;
    padding: .5em 0;
    text-shadow: 1px 3px 0px #000;
    text-align: center;
    width: 100%;
}
h2 {
    color: #fff;
    display: inline-block;
    font: normal bold 1.6em/150% "Muli", sans-serif;
    letter-spacing: 1px;
    margin: 0 0 .8em;
    text-shadow: 1px 3px 0px #000;
}
.logo {
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 289px;
}
#big-logo {
    color: darkorange;
    display: block;
    font: normal normal 3.4em/200% "Rock Salt", script;
    text-shadow: 1px 4px 0px #000;
    text-align: center;
}
#logo {
    align-self: flex-end;
    box-sizing: border-box;
    color: darkorange;
    font: normal normal 2.5em/150% "Rock Salt", script;
    display: block;
    text-shadow: 1px 3px 0px #000;
}
.col-cont {
    display: flex;
    flex-flow: column;
    align-items: center;
    /* justify-content: center; */
}
